.Container {
    width: 1023px;
    height: 670px;
    background-color: rgb(250, 250, 250);
    z-index: 10;
}

.tabs {
    width: 823px;
    height: 571px;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    scrollbar-face-color: rgb(225,225,226);
}

.tabs::-webkit-scrollbar {
    width: 7px;
}

.tabs::-webkit-scrollbar-thumb {
    background: rgb(225,225,226);
    border-radius: 50px;
}

@keyframes minimize {
    0%   {opacity: 1}
    25%  {
        opacity: 0.75;
        transform: scale(0.75);
        margin-top: 25%;
        margin-right: 25%;
    }
    50%  {
        transform: scale(0.5);
        margin-top: 50%;
        margin-right: 50%;
    }
    75%  {
        transform: scale(0.25);
        margin-top: 75%;
        margin-right: 75%;
    }
    100% {
        margin-top: 80%;
        margin-right: 90%;
    }
}
.ContainerMinimize{
    width: 200px;
    height: 35px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 20px;
    border-radius: 5px 5px 0 0;
}
