.inline {
    display: inline-block;
}

.Header {
    width: 100%;
    height: 50px;
    background-color: rgb(198, 47, 47);
    line-height: 50px;
}

.softImg {
    vertical-align: middle;
    height: 26px;
    margin-left: 75px;
    cursor: pointer;
}

button {
    cursor: pointer;
    font-size: 0;
}

.button div {
    vertical-align: middle;
    line-height: 0;
    padding: 0 7px 0 7px;
    background-color: rgb(198, 47, 47);
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 3px;
}

.button img {
    height: 19px;
    opacity: 0.3;
}

.button div:nth-child(1) {
    margin-left: 61px;
    border-radius: 3px 0 0 3px;
}

.button div:nth-child(2) {
    border-left: 0;
    border-radius: 0 3px 3px 0;
}

.search {
    margin-left: 10px;
    position: relative;
    vertical-align: middle;
}

.search input {
    border-radius: 25px;
    border: none;
    width: 207px;
    height: 10px;
    padding: 6px 0 6px 8px;
    font-size: 13px;
    font-family: Arial, NSimsun, sans-serif;
    background-color: rgb(168, 40, 40);
    color: white;
    outline: none;
}

.search input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(199, 115, 115);
    letter-spacing: -1px;
    font-size: 13px;
    vertical-align: middle;
}

.search input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(199, 115, 115);
    letter-spacing: -1px;
    font-size: 13px;
}

.search input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(199, 115, 115);
    letter-spacing: -1px;
    font-size: 13px;
}

.search input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(199, 115, 115);
    letter-spacing: -1px;
    font-size: 13px;
}

.search button {
    width: 18px;
    height: 18px;
    outline: none;
    background-image: url('../../static/images/search.png');
    border: none;
    background-color: transparent;
    background-size: 13px;
    background-repeat: no-repeat;
    position: absolute;
    top: 19px;
    right: 4px;
    opacity: 0.5;
    cursor: pointer;
}

.search button:hover {
    opacity: 1;
}

.userInfo {
    margin-right: 20px;
    vertical-align: middle;
}

.userInfo img {
    width: 23px;
    vertical-align: middle;
    border-radius: 23px;
    margin-top: -3px;
    cursor: pointer;
}

.userName {
    margin-left: 4px;
    color: white;
    font-size: 12px;
    opacity: 0.8;
    cursor: pointer;
    display: inline-block;
    -webkit-transform: scale(0.96);
    font-weight: lighter;
}

.userName:hover {
    opacity: 1;
}

.userChoice {
    width: 0;
    height: 0;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    vertical-align: 2px;
    margin-left: 10px;
}

.system {
    margin-left: 209px;
}

.skin, .email, .settings, .minimode, .minimize, .maximize, .close {
    width: 21px;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    vertical-align: middle;
    opacity: 0.6;
}

.skin, .email, .settings {
    background-image: url("../../static/images/system.jpg");
    height: 28px;
}

.minimode, .minimize, .maximize, .close {
    background-image: url("../../static/images/window.jpg");
    height: 24px;
}

.skin:hover, .email:hover, .settings:hover, .minimode:hover, .minimize:hover, .maximize:hover, .close:hover {
    opacity: 1;
}

.email {
    margin-left: 26px;
    background-position: -41px 0;
}

.settings {
    margin-left: 23px;
    background-position: -79px 0;
}

.line {
    margin-left: 11px;
    width: 0;
    height: 19px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.15);
    vertical-align: middle;
}

.minimode {
    margin-left: 12px;
    background-position: 0 0;
}

.minimize {
    margin-left: 3px;
    background-position: -25px 0;
    position: relative;
}

.maximize {
    margin-left: 3px;
    background-position: -50px 0;
}

.close {
    margin-left: 4px;
    background-position: -75px 0;
}

.point {
    position: absolute;
    top: -61px;
    right: -120px;
    text-align: center;
}

.pointContainer {
    position: relative;
}

.pointArrow {
    display: inline-block;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    border-width: 0 1px 1px 0;
    border-color: red;
    border-style: dashed;
    background-color: transparent;
    position: absolute;
    top: 25px;
    left: 25px;
}

.pointBody {
    display: inline-block;
    width: 170px;
    height: 30px;
    line-height: 30px;
    margin-left: -6px;
    border-radius: 200px/100px;
    border: 1px dashed red;
    font-size: 13px;
    box-sizing: border-box;
}

.displayNone {
    display: none;
}

.searchSuggest {
    position: absolute;
    width: 215px;
    text-align: left;
    background-color: rgb(250, 250, 250);
    font-size: 12px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    box-shadow: 0 1px 3px 1px rgba(204, 204, 204, 0.61);
    border-radius: 5px;
    z-index: 3;
}

.searchSuggest p {
    height: 25px;
    line-height: 25px;
    cursor: default;
}

.searchSuggest p:nth-of-type(1){
    margin: 0 0 0 10px;
    color: rgb(102,102,102);
}

.searchSuggest p:nth-of-type(1) span {
    color: rgb(12, 115, 194);
}

.searchSuggest p img {
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -2px
}

.searchSuggest p:nth-of-type(2) {
    margin: 0;
    padding: 0 0 0 10px;
    background-color: rgb(245, 245, 247);
    color: rgb(51,51,51);
}

.searchSuggest p:nth-of-type(2) span{
    display: inline-block;
    background-image: url("../../static/images/sidebar.png");
    width: 20px;
    height: 25px;
    background-position: -9px 31px;
    vertical-align: middle;
    font-size: 0;

}
.searchSuggest ul {
    padding-bottom: 10px;
}

.searchSuggest li {
    width: 180px;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searchSuggest li:hover{
    background-color: rgb(236,237,238);
}