.Footer{
    background-color: rgb(246,246,248);
    border-top: 1px solid rgb(225,225,226);
    height: 49px;
}

.footerButton{
    height: 100%;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-left: 30px;
}
.footerButton div{
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-right: 24px;
}
.footerButton div:hover{
    background-color: rgb(209,49,49);
}
.prePlay,.startPlay{
    background-color: rgb(232,60,60);
    border-radius: 50%;
}
.prePlay{
    width: 30px;
    height: 30px;
}
.startPlay{
    width: 34px;
    height: 34px;
}
.progressBar{
    width: 523px;
    height: 49px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 12px;
}
.progressBarBody{
    display: inline-block;
    vertical-align: middle;
    width: 439px;
    height: 4px;
    border-radius: 20px;
    background-color: rgb(194,194,196);
    margin-left: 14px;
    margin-right: 10px;
}
.progressBarBody>div{
    width: 0;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(232,60,60);
    position: relative;
}
.progressBarCircle{
    top: -7px;
    right: -7px;
    font-size: 0;
    height: 17px;
    line-height: 16px;
    position: absolute;
    cursor: pointer;
}
.progressBarCircle img{
    width: 17px;
    height: 17px;
    border-radius: 50%;
}
.volume{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    width: 124px;
    height: 49px;
    margin-left: 20px;
}
.volumeButton{
    opacity: 0.6;
    cursor: pointer;
}
.volumeButton:hover{
    opacity: 1;
}
.volumeBody{
    position: relative;
    width: 100px;
    height: 4px;
    border-radius: 20px;
    margin-left: 5px;
    background-color: rgb(230,230,232);
}
.volumeBody>div{
    width: 0;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    background-color: rgb(232,60,60);
}

.volumeCircle{
    top: -6px;
    right: -9px;
    font-size: 0;
    position: absolute;
    cursor: pointer;
}
.volumeCircle img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
audio{
    display: block;
}