.PersonalFM{
    height: 100%;
    background-color: rgb(250,250,250);

}
.PersonalFMBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
}
.PersonalFMLeftColumn{
    width: 300px;
    display: inline-block;
}
.PersonalFMRightColumn{
    width: 310px;
    display: inline-block;
    margin-left: 40px;
}
.PersonalFMAlbumIMG{
    width: 300px;
    height: 300px;
}
.PersonalFMMenu{
    margin-top: 30px;
    height: 45px;
}
.nextplay2{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(227,227,228);
    border-radius: 50%;
    cursor: pointer;
}
.PersonalFMSongDetail{
    margin-top: 10px;
}
.PersonalFMSongDetail p {
    margin: 0;
}
.PersonalFMSongName{
    font-size: 24px;
    font-weight: bold;
    color: rgb(50,50,50);
    margin: 0;
}
.PersonalFMLyric{
    font-size: 16px;
    height: 325px;
    margin-top: 30px;
}
.PersonalFMLyric p {
    margin: 0;
}

.PersonalFMAlbumName{
    display: inline-block;
    width: 137px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.PersonalFMSingerName{
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    font-size: 12px;
}
.PersonalFMError{
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20%;
    box-sizing: border-box;
}
.PersonalFMLyric li{
    color: rgb(136,136,136);
    font-size: 14px;
    line-height: 40px;
}
#PersonalFMLyricUL{
    position: relative;
    overflow-y: scroll;
    height: 325px;
}
#PersonalFMLyricUL::-webkit-scrollbar {
    width: 7px;
}

#PersonalFMLyricUL::-webkit-scrollbar-thumb {
    background: rgb(225,225,226);
    border-radius: 50px;
}
.lyricOutstanding{
    color: black!important;
}